<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="form"> 
  <div id="myModal" class="model">
  
    <!-- Modal content -->
    <div class="modal-content">
      <button (click)="close()">&times;</button>


      <input id='slider' type="range" value="0"> <span id="recordIndexPrint">0</span>
      <input type="button" class="btn-primary" style="float: right;" value="Forward">
     
      <input type="button" class="btn-primary" style="float: right;" value="Backward">
    
  
    </div>
  
  </div>