.table{
    
    margin: 0auto;
    /*background-image: url('../../images/signUp.jpg') !important;*/
    background:white;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border: 1px solid rgb(147,206,222);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -4px #24303C;
    
    /* padding-top: .5rem;
    text-align: right; */
}
.center{
    text-align: center;
}
.input{
    border-radius: 10%;
}
.right{
    float: right;
    background-color: rgb(49, 116, 170)
}