<div>

    <form style="height:50%;width:50%;size:50px;">

        <div class="container">
            <label> Referral Fax: 281-968-2301 </label>
            <label style="float:right;">Intake Phone: 281-968-2300</label>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Patient Name: ">Patient Name: </label>
                            <div class="input-container">
                                <input type="text" class="Patient Name: " ngModel name="Patient Name: ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="DOB">DOB</label>
                            <div class="input-container">
                                <input type="text" class="DOB" ngModel name="DOB">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Neck Size:">Neck Size:</label>
                        <div class="input-container">
                            <input type="text" class="input-filed" ngModel name="Neck Size:">
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Date of Birth"> BMI: </label>
                        <div class="input-container">
                            <input type="text" class="input-filed" ngModel name="Date of Birth">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Patient Primary Phone:">Patient Primary Phone:</label>
                        <div class="input-container">
                            <input type="text" class="input-filed" ngModel name="Patient Primary Phone:">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Secondary Phone:">Secondary Phone:</label>
                    <div class="input-container">
                        <input type="text" class="input-filed" ngModel name="Secondary Phone:">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Patient Email Address:">Patient Email Address:</label>
                    <div class="input-container">
                        <input name="ctl00$ContentPlaceHolder1$heightinfeet" type="number" id="ContentPlaceHolder1_heightinfeet" class="input-filed"
                            max="24" required="required">


                    </div>
                </div>
                <p style="float:center;color:red">Please include patient demographic sheet, history, physical and most recent clinical notes</p>
                <p> COMPREHENSIVE HOME SLEEP TEST (W/ WST) *Please request a separate Rx for in-lab studies</p>


            </div>

            <div style="background-color:rgba(89, 84, 84, 0.352);color:white;">
                <p>EVALUATE FOR (please check ALL that apply)</p>

                <div class="col-md-4">
                    <div class="form-group">

                        <br>
                        <input type="checkbox" name="checkbox" class="input-filed" value="" ngModel name="checkbox"> EVALUATE FOR (please check ALL that apply)


                    </div>
                </div>
                <div class="form-group">

                    <br>
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Somnolence R40.0
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <br>
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Insomnia G47.00
                        <br>


                    </div>
                </div>
                <div class="form-group">

                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Paradoxical Insomnia F51.0 (due to substance of physiological condition)
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Hypersomnolence G47.10
                        <br>


                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Obstructive Sleep Apnea G4
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">2 Wakefulness Screening Tests- 1 unit during delivery & 1 unit during pick up -95819
                        <br>

                    </div>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">3 Night Comprehensive Home Sleep Test including Titration Test; if patient is positive for OSA- 95806,
                    95827, 99211, 95811
                    <br>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">3 additional nights CHST; follow up after original test date







                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">other


                </div>

            </div>
            ASAP THERAPHY

            <div>

                <div style="background-color:rgba(89, 84, 84, 0.352);color:ivory">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">A9279/99091 Compliance Monitoring Modem

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">95800/95827 3 Night HST with NEEG

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">E0601/E0562 APAP/ Heated Humidifier

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">95816/95819 Wakefulness Screening Test

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Diagnosis G47.33 OSA

                    </div>
                    <div class="form-group">
                        Length of need:
                        <input type="text">

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Fit for mask

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">CPAP setting
                        <input type="text">cmH2O
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Auto CPAP:
                        <input type="text">-
                        <input type="text">cmH2O

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">BiPAP setting:
                        <input type="text">/
                        <input type="text">cmH2O
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Auto BiPAP:
                        <input type="text">-
                        <input type="text">cmH2O

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">PAP supplies

                    </div>

                </div>


            </div>
            <p style="float:center;">EEG TESTING</p>

            <div style="background-color:rgba(89, 84, 84, 0.352);color:white;">
                <p>EVALUATE FOR (please check ALL that apply)</p>

                <div class="col-md-4">
                    <div class="form-group">

                        <br>
                        <input type="checkbox" name="checkbox" class="input-filed" value="" ngModel name="checkbox"> Conversion disorder with seizures or convulsions F44.5


                    </div>
                </div>
                <div class="form-group">

                    <br>
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Absence epilepticus not intractable, w/out status epilepticus G40.A09
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">

                        <br>
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Generalized idiopathic epilepsy and epileptic syndromes not intractable w/out Status epilepticus
                        G40.309
                        <br>


                    </div>
                </div>
                <div class="form-group">

                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Partial Seizures: localization related symptomatic epilepsy and epileptic syndromes w/simple partial
                    seizures not intractable, w/out status epilepticus G40.209/109
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Unspecified epilepsy: not intractable w/out status epilepticus G40.909
                        <br>


                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name=""> Syncope and collapse R55
                    <br>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Post traumatic seizure R56.1
                        <br>

                    </div>
                </div>

                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Dizziness and giddiness R42 99211, 95811
                    <br>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Migraine not intractable w/out status epilepticus G43.909







                    </div>


                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Other convulsions R56.9


                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Other seizures G40.89


                </div>

                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">Comprehensive Video EEG; includes Routine EEG- 99211, 95812, 95951, 95957, 93224
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">72-hour test
                </div>

                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">96-hour test
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" class="input-filed" value="" ngModel name="">EEG Spike Analysis
                </div>


            </div>


            <div>

                <div class="container">

                    <div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Patient Name: ">Patient Name: </label>
                                    <div class="input-container">
                                        <input type="text" class="Patient Name: " ngModel name="Patient Name: ">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label for="DOB">Date</label>
                                    <div class="input-container">
                                        <input type="text" class="DOB" ngModel name="DOB">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                I am requesting the above-mentioned procedure(s) for the patient and I consider this to be medically necessary for proper
                                diagnosis and treatment. By signing, I attest that: upon my examination of the patient, which
                                included HEENT, Cardiovascular, Chest/Lung, Neurological, & Vital Signs, there is a high
                                probability of OSA. A HST is medically necessary, and no co-morbid conditions are present
                                that prevent the patient from home testing.

                            </div>

                        </div>
                        <div>
                            <div class="form-group">
                                <p style="float:center;color:red">Order is to evaluate, diagnose, and treat any applicable neurological or sleep disorder</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Provider Address:">Provider Address:</label>
                                <div class="input-container">
                                    <input type="text" class="input-filed" ngModel name="Provider Address:">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Phone # ">Phone # :</label>
                            <div class="input-container">
                                <input type="text" class="input-filed" ngModel name="Phone # ">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Patient Email Address:">Fax#</label>
                            <div class="input-container">
                                <input name="ctl00$ContentPlaceHolder1$heightinfeet" type="number" id="ContentPlaceHolder1_heightinfeet" class="input-filed"
                                    max="24" required="required">


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Ofice Contact:">Office Contact:</label>
                                <div class="input-container">
                                    <input type="text" class="input-filed" ngModel name="Ofice Contact:">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Ofice Contact:">Physician Signature:</label>
                                
                                   <canvas id="a" width="200" height="200"></canvas>
                                
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div>









                <div class="panel-body">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>

            </div>
        </div>

    </form>
</div>