
<!-- <div>
  <button (click)="openForm()"></button>
</div>
<div class="form-popup" id="myForm">

    
  <form  class="form-container">
    <h1>Upload a file</h1>
    <input type="file">
  

   
    <button type="submit" class="btn cancel" (click)="closeForm()">Close</button>
  
  </form>


</div> -->


  
  
  <!-- Trigger/Open The Modal -->
  <!-- <button id="myBtn">Open Modal</button> -->
  
  <!-- The Modal -->
  <div id="myModal" class="form-popup">
  
    <!-- Modal content -->
    <div class="form-container">
      <button (click)="close()">&times;</button>
      <h1>Upload a file</h1>
      <input type="file">
    
  
    </div>
  
  </div>