.dropzone{
    display:flex;
    align-items:center;
    justify-content: 'center';
    flex-direction: column;
    font-weight: 200;
    height:300px;
    border:2px dashed blue;
    border-radius: 5px;
background-color: blanchedalmond;
margin:10px 0;


}
.file-lable{
font-size:1.2em;
}
progress ::-webkit-progress-value{
    transition:width 0.1s ease;
}